@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	background-color: #ccc;
}
#imgStyle{
  position: absolute;
  top: 175px;
  left: 600px;
  width: 450px;
  height: 300px;
};
#price{
	position: absolute;
	z-index: 10;
	bottom: -90px;
	right: -90px;
	color: #56DB0F;

};
#border{
	border-color: #FF0000;

};
#heart{
	position:absolute;
	right:-75px;
	top:-20px;
};
#menu{
	position: absolute;
	right:-110px;
	top:-20px;
};
#desc{
	position: absolute;
	top:365px;
	left:40px;
};
#key{
	position: absolute;
	top:385px;
	left:40px;
	color:grey;
};




//}//

